body {
    font-family: 'ralewayregular', Arial, sans-serif;
    font-size: 10px;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    width: 1352px;
    margin-left: auto;
    margin-right: auto;
}
header{

    border-bottom: 1px solid #95989A;
    position: relative;
    height: 50px;
}
.logo{
    font-size: 3em;
    color: #08A6E4;
    display: block;
    float: left;
    position: absolute;
    top: -30px;

}
.menu li{
    list-style-type: none;
    padding-top: 10px;
    padding-right: 100px;
    color: #95989A;
    display: block;
    float: right;
    height: 100%;
    font-size: 1.2em;
    letter-spacing: 2px;
}
li:hover{
    font-weight: bold;
    color: black;
}
.section-1{
    background-image: url("../assets/Background.png");
    background-position: bottom;
    height: 800px;
    background-repeat: no-repeat;
}
.section-1 h1{
    font-size: 4em;
    text-align: center;
    padding-top: 80px;
}
.section-1 p{
    font-size: 1.5em;
    text-align: center;
}
.cont-sect1{
    position: relative;
}
.btn{
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    background-color: #08A6E4;
    text-decoration: none;
    color: white;
    width: 400px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    left: 36%;
}
.section-2{
    height: 400px;
}
.section-2 h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
.wigets{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}
.daily-enteres, .seen-products, .added-posts{
    border: 1px solid white;
}
.round{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: green;
}
.daily-enteres .round{
    background-color: #FB3B64;
}
.daily-logo{

}
.seen-products .round{
    background-color: #08A6E4;
}
.added-posts .round{
    background-color: #55DFB4;
}
.wigets .numbers{
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 4px;
}
.wigets .text{
    font-size: 1rem;
    color: #95989A;
    text-align: center;
}
.section-3{
    background-color: gainsboro;

}
.cont-sect3{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}
.first, .second, .third{
    border: 1px solid #95989A;
    background-color: #FFFFFF;
    height: 350px;

}
.cont-sect3{
    padding-top: 100px;
    padding-bottom: 100px;
}
.first-text{
    display: block;
    float: left;
    padding-left: 30px;
    padding-top: 50px;
}
.first-text h3{
    font-size: 2rem;
}
.first-text p{
    font-size: 0.8rem;
    max-width: 300px;

}
.line{
    display: block;
    height: 3px;
    width: 300px;
    background-color: #FB3B64;

}
.first.pic{
    position: absolute;
    float: right;
}
.picmacbook{
    background-image: url("../assets/Macbook.png");
    width: 350px;
    height: 200px;
    display: block;
    right: -500px;
    top: 70px;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.first-box{
    width: 130px;
    height: 130px;
    background-color: #FB3B64;
    border-radius: 10%;
    transform: rotate(40deg);
    position: relative;
    right: -720px;
    top: -160px;
    z-index: 0;
}
.second-text{
    display: block;
    float: right;
    padding-right: 80px;
    padding-top: 50px;
}
.second-text h3{
    font-size: 2rem;
}
.second-text p{
    font-size: 0.8rem;
    max-width: 300px;

}
.second-text .line{
    display: block;
    height: 3px;
    width: 300px;
    background-color: #08A6E4;

}
.second.pic{
    position: absolute;
    float: left;
}
.iphone{
    background-image: url("../assets/iPhone.png");
    width: 260px;
    height: 200px;
    display: block;
    right: -150px;
    top: 70px;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.second-box{
    width: 230px;
    height: 230px;
    background-color: #08A6E4;
    border-radius: 50%;
    transform: rotate(40deg);
    position: relative;
    right: -120px;
    top: -160px;
    z-index: 0;
}




.third-text{
    display: block;
    float: left;
    padding-left: 30px;
    padding-top: 50px;
}
.third-text h3{
    font-size: 2rem;
}
.third-text p{
    font-size: 0.8rem;
    max-width: 300px;

}
.third-text .line{
    display: block;
    height: 3px;
    width: 300px;
    background-color: #55DFB4;

}
.third.pic{
    position: absolute;
    float: right;
}
.trumpet{
    background-image: url("../assets/Trumpet.png");
    width: 300px;
    height: 150px;
    right: -650px;
    top: 95px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.third-box{
    width: 350px;
    height: 350px;
    background-color: #55DFB4;
    border-radius: 1%;
    position: relative;
    right: -650px;
    top: -150px;
    z-index: 0;
}