* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'ralewayregular', Arial, sans-serif;
    font-size: 10px;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    margin: 0 auto;
    width: 1352px;

}
.header{
    box-shadow: 0px 3px 6px -2px #00000029;
    position: relative;
    height: 50px;
    width: 100vw;
    margin: auto;
    padding-top: 12px;
}
.logo{
    font-size: 3em;
    color: #08A6E4;
    display: block;
    position: absolute;
    top: 0px;
    padding-top: 8px;
    padding-left: 10%;

}
.hamburger{
    display: none;
}
.menu{
    padding-right: 10%;
}
.menu li{
    list-style-type: none;
}
.menu li a{

    padding: 10px;
    color: #95989A;
    display: block;
    float: right;
    height: 100%;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-decoration: none;
}
li a:hover{
    font-weight: bold;
    color: black;
    border-bottom: 4px solid #08A6E4;
}



.section-1{
    background-image: url("../assets/Background.png");
    background-position: bottom;
    height: 800px;
    width: 100vw;
    background-repeat: no-repeat;
}
.section-1 h1{
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    padding: 80px 0 20px 0;
}
.section-1 p{
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 20px 0;
}
.cont-sect1{
    position: relative;
}
.btn{
    font-size: 2em;
    display: block;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    background-color: #08A6E4;
    text-decoration: none;
    color: white;
    width: 400px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    left: 36%;
}


#why-us{
    height: 400px;
}
#why-us h2{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
.wigets{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}


.daily-logo{
    background: transparent url("../assets/Person.svg");
    height: 55px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;

}
.daily-logo:before{
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #FB3B64;
    z-index: -1;
    left: 28%;
    display: block;
    position: absolute;

}
.seen-logo{
    background: url("../assets/Eye.svg");
    height: 55px;
    width: 65px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
.seen-logo:before{
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #08A6E4;
    z-index: -1;
    left: 46.5%;
    position: absolute;
}
.added-logo{
    background: url("../assets/Catalog.svg");
    height: 55px;
    width: 65px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
.added-logo:before{
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #55DFB4;
    z-index: -1;
    left: 64%;
    position: absolute;
}

.wigets .numbers{
    border-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 4px;
}
.wigets .text{
    font-size: 1rem;
    color: #95989A;
    text-align: center;
}






#benefits{
    background-color: #F7F7F7;
    height: 1350px;
}
.cont-benefits{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}
.arcfirst, .arcsecond{
    padding-bottom: 40px;
}
.first, .second, .sectiontext{
    border: 1px solid #E8E9ED;
    background-color: #FFFFFF;
    height: 350px;

}
.box3{
    position: relative;
}
.sectiontext{
    width: 580px;
    display: block;
    position: absolute;
}
.sectionpic{
    display: block;
    position: absolute;
}
.cont-benefits{
    padding-top: 100px;
    padding-bottom: 100px;
}
.first-text{
    display: block;
    float: left;
    padding-left: 30px;
    padding-top: 50px;
}
.first-text h3{
    font-size: 2rem;
}
.first-text p{
    font-size: 0.8rem;
    max-width: 300px;

}
.line{
    display: block;
    height: 3px;
    width: 300px;
    background-color: #FB3B64;

}
.first.pic{
    position: absolute;
    float: right;
}
.picmacbook{
    background-image: url("../assets/Macbook.png");
    width: 350px;
    height: 200px;
    display: block;
    right: -500px;
    top: 70px;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.first-box{
    width: 130px;
    height: 130px;
    background-color: #FB3B64;
    border-radius: 10%;
    transform: rotate(40deg);
    position: relative;
    right: -720px;
    top: -160px;
    z-index: 0;
}
.second-text{
    display: block;
    float: right;
    padding-right: 80px;
    padding-top: 50px;
}
.second-text h3{
    font-size: 2rem;
}
.second-text p{
    font-size: 0.8rem;
    max-width: 300px;

}
.second-text .line{
    display: block;
    height: 3px;
    width: 300px;
    background-color: #08A6E4;

}
.second.pic{
    position: absolute;
    float: left;
}
.iphone{
    background-image: url("../assets/iPhone.png");
    width: 260px;
    height: 200px;
    display: block;
    right: -150px;
    top: 70px;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.second-box{
    width: 230px;
    height: 230px;
    background-color: #08A6E4;
    border-radius: 50%;
    transform: rotate(40deg);
    position: relative;
    right: -120px;
    top: -160px;
    z-index: 0;
}



.thitd{
    display: flex;
    flex-direction: column;
}
.third-text{
    display: block;
    float: left;
    padding-left: 30px;
    padding-top: 50px;
}
.third-text h3{
    font-size: 2rem;
}
.third-text p{
    font-size: 0.8rem;
    max-width: 300px;

}
.third-text .line{
    display: block;
    height: 3px;
    width: 300px;
    background-color: #55DFB4;

}
.third.pic{
    position: absolute;
    float: right;
}
.trumpet{
    background-image: url("../assets/Trumpet.png");
    width: 300px;
    height: 150px;
    right: -650px;
    top: 95px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.third-box{
    width: 350px;
    height: 350px;
    background-color: #55DFB4;
    border-radius: 1%;
    position: relative;
    right: -650px;
    top: -150px;
    z-index: 0;
}



#prices h2{
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding: 60px;

}
.cont-sect4{
    margin: 0 auto;
    width: 1352px;
}
.main4{
    display: flex;
    justify-content: space-around;
}
.pricesbox h3{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.offer{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding:10px 0 40px 0;
}
.pricesbox .price{
    font-size: 4em;
    font-weight: 400;
    text-align: center;
}

.basic ul, .professional ul, .premium ul{
    list-style-type: none;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
}
.basic{
    width: 35em;
    height: 48em;
    border: 1.5px solid #FB3B64;
    border-radius: 10px;
    padding: 30px 50px 70px 50px;
    position: relative;
}
.basic .price{
    color: #FB3B64;
    padding:10px 0 40px 0;
}
.btn-basic{
    height: 3.5em;
    width: 10em;
    color: white;
    font-weight: bold;
    background-color: #FB3B64;
    border-radius: 30px;
    position: absolute;
    left: 7em;
    bottom: -1.5em;
}
.professional{
    width: 35em;
    height: 48em;
    border: 1.5px solid #08A6E4;
    border-radius: 10px;
    padding: 30px 50px 70px 50px;
    box-shadow: 0px 5px 6px #00000029;
    position: relative;
}
.btn-professional{
    height: 3.5em;
    width: 10em;
    color: white;
    font-weight: bold;
    background-color: #08A6E4;
    border-radius: 30px;
    position: absolute;
    left: 7em;
    bottom: -1.5em;
}
.professional .price{
    color: #08A6E4;;
}
.premium{
    width: 35em;
    height: 48em;
    border: 1.5px solid #55DFB4;
    border-radius: 10px;
    padding: 30px 50px 70px 50px;
    position: relative;
}
.premium .price{
    color: #55DFB4;
}
.btn-premium{
    height: 3.5em;
    width: 10em;
    color: white;
    font-weight: bold;
    background-color: #55DFB4;
    border-radius: 30px;
    position: absolute;
    left: 7em;
    bottom: -1.5em;
}



.contact{
    display: flex;
    justify-content: center;
    padding: 20em 0 20em 0;
}
.left-box{

    padding-right: 20em;
}
.questions h2{
    font-size: 4em;
    font-weight: normal;
}
.questions p{
    font-size: 2em;
    padding: 1em 0 1em 0;
}
.phone, .mail{
    font-size: 1.5em;
    color: #95989A;
    display: block;
}
.phone{
    float: left;
}
.mail{
    float: right;
}




.right-box{
    width: 30em;
    display: flex;
}
.contact-form{
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 3.28px;
    color: #08A6E4;
}
input[type="text"] {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    position: relative;
}

input[type="checkbox"]::after {
    content: "";
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
}

input[type="checkbox"]:checked::after {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.check {
    font-size: .6rem;
    color: #707070;
    letter-spacing: 0;
    text-align: justify;
    padding-left: 30px;
    padding-top: 5px;
}


footer{
    width: 100%;
    background-color: #F7F7F7;
    box-shadow: 0px -5px 40px #00000029;
    height: 40px;
}
.footer{
    justify-content: space-between;
}
.footer-logo{
    float: left;
}
.footer-logo .bestshop{
    font-size: 3em;
    color: #08A6E4;
    padding-top: 12px;
}
.footer-logo .rights{
    color: #A5A5A5;
    padding-bottom: 30px;
    font-size: 1em;
}
.media{
    float: right;
    padding-top: 20px;
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .container{
        width: 100vw;
    }
    .pricesbox{
        border-radius: 20px;
        margin: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px){
    .container{
            width:100vw;
    }
}

@media screen and  (max-width: 800px){
    .container{
        width:100vw;
    }
    .header{
        height: 18vh;
    }
    .logo{
        font-size: 5em;
        top: 12px;
        padding-left: 10%;
    
    }
    .hamburger{
        display: inline;
        padding: 15px;
        cursor: pointer;
        background-color: white;
        border: 0;
        margin: 0;
        position: absolute;
        right: 10%;
    }
    .hamburger:focus{
        outline: none;
    }
    .fa-bars{
        position: relative;
        font-size: 3.5rem;
        color: #08A6E4;
    }
    .menu{
        display: none;
    }
    .btn{
        left: 25%;
    }
    #benefits{
        height: 2000px;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .first, .second, .sectiontext{
        height: 550px;
        width: 60%;
    }
    .sectiontext{
        height: 650px;
    }
    .sectiontext{
        padding-left: 5%;
    }
    .cont-benefits{
        padding-left: 20%;
    }
    .picmacbook{
        right: -100px;
        top: 70px;
    }
    .first-box{
        right: -320px;
        top: -160px;
    }
    .second-text{
        padding-left: 10%;
    }
    .trumpet{
        background-image: url("../assets/Trumpet.png");
        right: -60px;
        top: 370px;
    }
    .third-box{
        right: -30px;
        top: 100px;
    }
    .main4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price_box{
        padding-bottom: 20%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-box{
        padding-bottom: 20%;
        text-align: center;
        padding-left: 10%;
    }
    .right-box{

    }
}

@media screen and  (max-width: 600px) {
    .container{
        width:100vw;
    }
    .header{
        height: 18vh;
        width: 100%;  
    }
    .logo{
        font-size: 5em;
        top: 12px;
        padding-left: 10%;
    
    }
    .hamburger{
        display: inline;
        padding: 15px;
        cursor: pointer;
        background-color: white;
        border: 0;
        margin: 0;
        position: absolute;
        right: -20%;
    }
    .hamburger:focus{
        outline: none;
    }
    .fa-bars{
        position: relative;
        font-size: 3.5rem;
        color: #08A6E4;
    }
}
